@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">



    <div class="row">
        <div class="col-md-12">
            <h2>Materias</h2>
        </div>
    </div>

    <div class="row">

        @using (Html.BeginForm("GetAll", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="form-inline">
            <div class="col-md-1">
                @Html.LabelFor(model => model.Semestre)
            </div>
            <div class="col-md-3">

                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona una opción", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Semestre)
            </div>

            <div class="col-md-3">

                @*@Html.TextBoxFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona una opción", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Semestre)*@
            </div>


            <div class="col-md-1">
                <input type="submit" value="Buscar" class="btn btn-info" />
            </div>
        </div>


        }
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Seleccione + para registrar una materia ... o eliminar para b</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-11 text-right">

            @Html.ActionLink("+", "Form", "Materia", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>Editar</td>
                        <td class="hidden">IdMateria</td>
                        <td>Nombre</td>
                        <td>Creditos</td>
                        <td>Costo</td>
                        <td>Imagen</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Materia materia in Model.Materias)
                    {
                        <tr>
                            <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })"></a></td>
                            <td class="hidden">@materia.IdMateria</td>
                            <td>@materia.Nombre</td>
                            <td>@materia.Creditos</td>
                            <td>@materia.Costo</td>
                            <td>
                                @if (materia.Imagen == null)
                                {
                                    <img id="ImagenPreview" src="~/img/imagenDefault.png" style=" height:150px; width:150px;" />
                                }
                                else
                                {
                                    <img id="ImagenPreview" src="data:image/jpeg;base64,@Convert.ToBase64String(materia.Imagen)" width="100" height="100" />
                                }
                            </td>
                            <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Materia", new { IdMateria= materia.IdMateria})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>

    </div>
</div>



@*@{
        Html.RenderPartial("Modal");
    }*@